<div class="dropdown">
  <a class="btn btn-light btn-icon" style="cursor: pointer;" data-bs-toggle="dropdown" aria-expanded="true">
    <i class="ri-more-fill"></i>
  </a>
  <ul class="dropdown-menu dropdown-menu-end">
    <li>
      <a class="dropdown-item" style="cursor: pointer;" title="Editar" onclick="{{edit}}">
        <i class="ri-edit-line me-2 align-middle text-muted"></i>
        Editar
      </a>
    <li class="dropdown-divider"></li>
    <li>
      <a class="dropdown-item" style="cursor: pointer;" title="Remover" onclick="{{delete}}">
        <i class="ri-delete-bin-line me-2 align-middle text-muted"></i>
        Remover
      </a>
    </li>
  </ul>
</div>