<div class="dropdown">
  <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="bi bi-three-dots"></i>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" onclick="{{edit}}">Editar</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" onclick="{{delete}}">Excluir</a>
  </ul>
</div>
