{{#> wrapper}}
  <div class="col-lg-12">

    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">Sabores</h5>
        <button class="btn btn-primary" style="height: 3rem;" onclick="modalAdd.show()">Novo Sabor</button>
        {{#> simple-modal id="modalAdd" title="Novo Sabor" onConfirm="createFlavor(this)"}}
          <div class="col-7 form-group">
            <label>Sabor</label>
            <input type="text" class="form-control" name="flavor">
          </div>
          <div class="col-5 form-group">
            <label>Preço</label>
            <input type="text" class="form-control" name="price" placeholder="0,00">
          </div>
        {{/simple-modal}}
      </div>
      <div class="card-body">
        <div class="py-3">
          <table id="pizza-flavor-table" class="table dt-responsive nowrap align-middle" style="width:100%">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Sabor</th>
                <th scope="col">Preço</th>
                <th scope="col"><i class="bi bi-tools"></i></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
{{/wrapper}}

{{#> simple-modal id="modalEdit" title="Editar Sabor" onConfirm="updateFlavor(this)"}}
  <div class="col-7 form-group">
    <label>Sabor</label>
    <input type="text" class="form-control" name="flavor">
  </div>
  <div class="col-5 form-group">
    <label>Preço</label>
    <input type="text" class="form-control" name="price" placeholder="0,00">
  </div>
{{/simple-modal}}

<script>
  CurrencyMask('#modalAdd [name="price"]');
  CurrencyMask('#modalEdit [name="price"]');

  const pizzaFlavorTable = new DataTable('#pizza-flavor-table', {
    paging: true,
    autoWidth: true,
    searching: true,
    pageLength: 25,
    language,
    columns: [
      { data: '#', width: '10%', orderable: true, className: 'text-center' },
      { data: 'flavor', width: '50%', orderable: true },
      { data: 'price', width: '30%', orderable: false },
      { data: '@', width: '10%', orderable: false, className: 'text-center' },
    ],
    ajax: {
      url: '{{defaultPath}}/api/pizza-flavors',
      dataSrc: '',
    },
  });

  const modalAdd = new bootstrap.Modal('#modalAdd');
  const modalEdit = new bootstrap.Modal('#modalEdit');

  function createFlavor(button) {

    const flavor = document.querySelector('#modalAdd [name="flavor"]').value;
    const price = document.querySelector('#modalAdd [name="price"]').value;
    
    fetch('{{defaultPath}}/api/pizza-flavors', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        flavor,
        price: Number(price.replace(',', '.')),
      }),
    })
    .then((response) => response.json())
    .then((data) => {
      pizzaFlavorTable.ajax.reload();
      modalAdd.hide();
    });
  }

  function editFlavor(id) {

    const flavor = document.querySelector('#modalEdit [name="flavor"]');
    const price = document.querySelector('#modalEdit [name="price"]');
    
    fetch(`{{defaultPath}}/api/pizza-flavor/${id}`, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
      },
    })
    .then((response) => response.json())
    .then((data) => {
      flavor.value = data.flavor;
      price.value = data.price;
      modalEdit.show();
    });
  }

  function updateFlavor() {}

  function deleteFlavor(id) {
    CustomAlert(() => {
        fetch(`{{defaultPath}}/api/pizza-flavor/${id}`, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json',
        },
      })
      .then((response) => {
        pizzaFlavorTable.ajax.reload();
      });
    });
  }
</script>